@import "reset";
@import "_vars";
@import "components";

// html {
//     background: $yellow;
//     font-family: 'Poppins', sans-serif;
//     padding: 5px 10% 200px;
// }

// .fades {
//     animation: fadeIn 1.5s;
//     animation: fadeOut 1.2s;
//     transition-timing-function: ease-in;
//     transition-timing-function: ease-out;
// }

// @keyframes fadeIn {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
// }

// @keyframes fadeOut {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
// }